@import "tailwindcss";
@theme {
    --color-main:#666a70;
    --color-secondary:#748DAE;
    --color-helper: #34699A;
    --color-header: #E9E3DF;
    --color-footer: #ffffff;
    --color-text: #000000;


    --font-main : "Arial", serif;
  
}
body {
    font-family: var(--font-main) !important;
  } 